# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
templateVideoOF.xcodeproj/project.xcworkspace/xcuserdata/fbariod.xcuserdatad/UserInterfaceState.xcuserstate
templateVideoOF.xcodeproj/xcuserdata/fbariod.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
templateVideoOF.xcodeproj/xcuserdata/fbariod.xcuserdatad/xcschemes/xcschememanagement.plist
